/* TopicListItem.scss */
.topic-list-item {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: #aaa; // or any color you prefer
  }
}

